<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    mode="over"
    class="sidenav"
    fixedInViewport="false"
    [attr.role]="isHeadset$ ? 'dialog' : 'navigation'"
  >
    <app-sidenav [user]="auth.user$ | async"></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content class="layout-content">
    <mat-toolbar class="mat-toolbar-dark">
      <button type="button" mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="title">{{ title.text$ | async }}</div>
      <div class="fill-remaining-space"></div>

      <button
        *ngIf="commands.hasGroups$ | async"
        [matMenuTriggerFor]="menu"
        mat-icon-button
        aria-label="menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <ng-container *ngFor="let group of commands.groups$ | async">
          <ng-container *ngFor="let command of group.commands">
            <button
              *ngIf="command.visible"
              mat-menu-item
              (click)="commands.run(command.name)"
              [disabled]="command.disabled"
            >
              <mat-icon *ngIf="command.icon">{{ command.icon }}</mat-icon>
              <span>{{ command.text }}</span>
            </button>
          </ng-container>
        </ng-container>
      </mat-menu>

      <button mat-icon-button (click)="closeApp()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
