<mat-sidenav-container class="sidenav-container">
  <!-- <mat-sidenav
    #drawer
    mode="over"
    class="sidenav"
    fixedInViewport="false"
    [attr.role]="isHeadset$ ? 'dialog' : 'navigation'"
    [mode]="(isHeadset$ | async)?.matches ? 'over' : 'side'"
    [opened]="!(isHeadset$ | async)?.matches"
  >
    <app-sidenav [user]="auth.authorized$ | async" (close)="drawer.toggle()"></app-sidenav>
  </mat-sidenav> -->

  <mat-sidenav
    #drawer
    mode="over"
    class="sidenav"
    fixedInViewport="false"
    [attr.role]="isHeadset$ ? 'dialog' : 'navigation'"
  >
    <app-sidenav [user]="auth.authorized$ | async" (close)="drawer.toggle()"></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content class="layout-content">
    <mat-toolbar class="mat-toolbar-dark">
      <button type="button" mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-icon *ngIf="title.icon$ | async as icon" class="title-icon">
        {{ icon }}
      </mat-icon>
      <div class="title" (click)="titleClick($event)">
        {{ title.text$ | async }}
      </div>
      <div class="fill-remaining-space"></div>

      <app-commands-menu></app-commands-menu>

      <button mat-icon-button (click)="closeApp()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
