.sidenav-container {
  height: 100%;
  background-color: #333;
  color: #fff;

  .title {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 70%;
    white-space: nowrap;
    cursor: pointer;
  }

  .layout-content {
    height: 100%;
    display: flex;
    flex-direction: column;

    .mat-toolbar-dark {
      flex-grow: 0;
    }
    .main-content {
      height: 100%;
      flex-grow: 1;
    }
  }
}

.sidenav {
  width: 260px;
  box-shadow: 3px 0 6px #222;
  background-color: #333;
  color: #fff;
}

.mat-drawer {
  border-right-color: #222;
}
