.admin-layout {
  min-height: 100%;
  background-color: #333;

  .mat-toolbar-dark {
    padding: 10px 10px 10px 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .fill-remaining-space {
      flex: 1 1 auto;
    }
  }

  .admin-content {
    padding: 20px;
  }
}
