<header>
  <mat-toolbar>
    <h1>Uno</h1>
    <span class="header-spacer"></span>
    <nav>
      <a routerLink="auth/login">Sign in</a>
    </nav>
  </mat-toolbar>
</header>
<main>
  <section>
    <div class="feature">
      <div class="feature-description">
        <h2>Main description</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro aut odit totam, molestias, repellat molestiae,
          eos consequuntur numquam fuga itaque impedit iure fugit quibusdam! Ipsa error minima molestiae id. Excepturi.
        </p>
      </div>
      <figure class="feature-figure">
        <app-devices>
          <img pc-content src="assets/images/pc-video-chat.jpg" alt="main pc features" />
          <img mobile-content src="assets/images/mobile-with-chat.jpg" alt="main mobile features" />
        </app-devices>
      </figure>
    </div>
  </section>
  <section>
    <div class="feature">
      <figure class="feature-figure">
        <app-devices>
          <img pc-content src="assets/images/pc-video-chat.jpg" alt="main pc features" />
          <img mobile-content src="assets/images/mobile-with-chat.jpg" alt="main mobile features" />
        </app-devices>
      </figure>
      <div class="feature-description">
        <h2>Share browse description</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro aut odit totam, molestias, repellat molestiae,
          eos consequuntur numquam fuga itaque impedit iure fugit quibusdam! Ipsa error minima molestiae id. Excepturi.
        </p>
      </div>
    </div>
  </section>
  <section>
    <div class="feature">
      <div class="feature-description">
        <h2>Games and other</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro aut odit totam, molestias, repellat molestiae,
          eos consequuntur numquam fuga itaque impedit iure fugit quibusdam! Ipsa error minima molestiae id. Excepturi.
        </p>
      </div>
      <figure class="feature-figure">
        <app-devices>
          <img pc-content src="assets/images/pc-video-chat.jpg" alt="main pc features" />
          <img mobile-content src="assets/images/mobile-with-chat.jpg" alt="main mobile features" />
        </app-devices>
      </figure>
    </div>
  </section>
</main>
<footer>
  <div class="footer-info"></div>
  <div class="copyright">&copy; 2020 akmalkrmv</div>
</footer>
