header,
main,
footer {
  color: #fff;
}

footer {
  padding: 8px 20px;
}

section,
footer {
  border-bottom: 1px solid #fff;
}

header {
  h1 {
    margin: 0;
  }

  .header-spacer {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1;
  }
}

main section {
  padding: 40px;
}

.feature {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;

  .feature-description,
  .feature-figure {
    max-width: 400px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .feature-figure {
    display: flex;
    align-items: center;
  }
}
