header,
footer,
main {
  color: #fff;
}

header {
  h1 {
    margin: 0;
  }

  .header-spacer {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1;
  }
}

footer {
  padding: 8px 20px;
}

main section {
  padding: 100px 60px;
  border-bottom: 1px solid #000;
}

.feature {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 60px;

  .feature-description,
  .feature-figure {
    max-width: 400px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .feature-figure {
    display: flex;
    align-items: center;
  }
}

@media all and (max-width: 768px) {
  .feature-figure {
    order: 1;
  }
  .feature-description {
    order: 2;
  }
}
