<mat-card>
  <mat-card-header>
    <mat-card-title>{{ room.id }}</mat-card-title>
    <mat-card-subtitle>
      Created:
      <span *ngIf="room.created">{{ room.created | date: 'medium' }}</span>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="room.name" />
    </mat-form-field>
    <div>
      Creator:
      <a [routerLink]="'/admin/users/' + room.creator.id">
        {{ room.creator.name }}
      </a>
    </div>
    <div>
      Users:
      <span class="user-name" *ngFor="let user of room.users">
        <a [routerLink]="'/admin/users/' + user.id"> {{ user.name }}, </a>
      </span>
    </div>
    <div>Offers: {{ room.offers }}</div>
    <div>Answers: {{ room.answers }}</div>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button color="primary" (click)="save.emit(room)">Save</button>
    <button mat-button color="warn" (click)="remove.emit(room.id)">
      Delete
    </button>
  </mat-card-actions>
</mat-card>
