<div *ngIf="player" [class.current]="isCurrent" class="hand">
  <div class="hand-deck">
    <div *ngIf="isBeater">
      <mat-icon>verified_user</mat-icon>
    </div>
    <ng-container *ngFor="let item of player.hand$ | async">
      <app-card
        class="card"
        [card]="item"
        (click)="selectCard(player, item)"
      ></app-card>
    </ng-container>
  </div>

  <app-controls
    class="hand-controls"
    [game]="game"
    [player]="player"
    [state]="state"
    [current]="current"
    [beatingCards]="beatingCards"
    [selected]="player.selected$ | async"
  ></app-controls>
</div>
