<div class="play-container">
  <div class="table-wrapper">
    <app-deck
      [deck]="deck$ | async"
      [trump]="trump$ | async"
      class="deck"
    ></app-deck>

    <div class="table">
      <ng-container *ngIf="beatingCards$ | async as table">
        <ng-container *ngIf="table.length">
          <app-card
            *ngFor="let item of table"
            class="card"
            [card]="item"
          ></app-card>
        </ng-container>
      </ng-container>
    </div>

    <div class="table">
      <ng-container *ngIf="table$ | async as table">
        <app-card class="card" [card]="table[0]" [visible]="false">
          <div class="cards-count">
            {{ table.length }}
          </div>
        </app-card>
      </ng-container>
    </div>
  </div>

  <!-- <div class="game-info">
    <div class="" *ngIf="stats">
      <div>Раунд: {{ stats.round }}</div>
      {{ stats.points | json }}
      {{ stats.players | json }}
      {{ stats.lastWinners | json }}
    </div>
    <div *ngIf="current">
      Ходит <span class="moving-player">{{ current.name }}</span>
    </div>
  </div> -->

  <div
    class="hand"
    *ngFor="let player of players$ | async"
    [class.current]="(current$ | async) == player"
    [class.beater]="(beater$ | async) == player"
  >
    <div class="hand-deck">
      <ng-container *ngIf="state$ | async as state">
        <ng-container *ngFor="let item of player.sortedHand$ | async">
          <app-card
            class="card"
            [card]="item"
            (click)="player.select(item, state)"
          ></app-card> </ng-container
      ></ng-container>
    </div>

    <app-controls
      class="hand-controls"
      [game]="game"
      [player]="player"
      [state]="state$ | async"
      [current]="current$ | async"
      [selected]="player.selected$ | async"
      [beatingCards]="beatingCards$ | async"
    ></app-controls>
  </div>

  <div>
    <button mat-raised-button (click)="start()">start</button>
  </div>
  
  <!-- <div class="points-info" *ngIf="players[0] as player">
    <div class="points-data">{{ player.name }}</div>
    <div class="points-data">
      <mat-icon>crop_portrait</mat-icon> {{ player.points }}
    </div>
    <div class="points-data">
      <mat-icon>filter_none</mat-icon> {{ player.pointCards$.value.length }}
    </div>
  </div> -->
</div>
