<div class="room-container">
  <ng-container *ngIf="user$ | async as user">
    <app-videos-list
      class="main-content"
      [user]="user"
      [viewState]="viewState$ | async"
    >
      <router-outlet></router-outlet>
      <!-- <app-code-editor
        [text]="room.code$ | async"
        (type)="sendText($event)"
      ></app-code-editor> -->
    </app-videos-list>

    <app-video-controls
      class="footer"
      [user]="user"
      [viewState]="viewState$ | async"
    ></app-video-controls>
  </ng-container>
</div>
