.devices {
  margin: 0 60px;
  display: flex;
  align-items: center;
  position: relative;

  .device {
    border: 1px solid #666;
    border-radius: 10px;
    background-color: #222;
    padding: 10px;
    overflow: hidden;
    display: grid;
    place-items: center;

    &::before {
      content: '';
      background-color: #fff;
      border-radius: 100%;
      position: absolute;
      left: calc(50% - 3px);
      width: 6px;
      height: 6px;
    }

    &.device-pc {
      z-index: 1;
      height: 300px;
      width: 500px;

      &::before {
        top: 12px;
        width: 6px;
        height: 6px;
      }
    }

    &.device-mobile {
      z-index: 2;
      padding: 6px;
      height: 200px;
      width: 100px;
      position: absolute;
      right: -30px;
      bottom: -20px;

      &::before {
        border-radius: 6px;
        left: calc(50% - 10px);
        bottom: 10px;
        width: 20px;
        height: 2px;
      }
    }

    [pc-content], [mobile-content] {
      border: 1px solid #666;
      max-width: 100%;
      max-height: 100%;
    }
  }
}
