.play-container {
  min-width: 100%;
  min-height: 100%;
  background-color: #333;
  color: #fff;

  .table-wrapper {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
    min-height: 160px;
  }

  .table,
  .deck,
  .hand {
    padding: 10px;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .card {
      margin-right: -20px;
      z-index: 2;

      &:hover,
      &:active {
        z-index: 100;
      }
      &:not(:hover:active) {
        z-index: 0;
      }
    }
  }

  .table {
    flex-grow: 10;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow: hidden;
  }

  .deck {
    justify-content: flex-start;
    position: relative;
    min-width: 120px;

    .cards-count {
      font-size: 1.6em;
      user-select: none;
    }

    .card {
      margin: 10px;
      cursor: pointer;
      z-index: 11;
    }

    .trump {
      position: absolute;
      left: 40px;
      transform: rotateZ(90deg);
    }
  }

  .hand {
    padding: 20px 10px;
    min-height: 160px;
    border: 1px solid orange;

    &.current {
      background-color: #555;
      border: 1px solid yellowgreen;
    }

    .beater {
      color: yellowgreen;
    }

    .hand-deck {
      flex-grow: 1;
      display: flex;
      justify-content: center;
    }

    .hand-controls {
      min-width: 140px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      button {
        margin: 10px;
      }
    }
  }

  .game-controls {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    min-height: 160px;
    border: 1px solid orange;

    button {
      min-width: 200px;
      margin-bottom: 4px;
    }
  }

  .game-info {
    padding: 10px;
    display: flex;
    align-items: center;

    .moving-player {
      color: greenyellow;
    }
  }

  .points-info {
    padding: 10px;
    display: flex;
    align-items: center;

    .points-data {
      padding: 10px;
      display: flex;
      align-items: center;
    }
  }

  .players-info {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;

    .player-info {
      flex-grow: 1;
      height: 42px;
      // min-width: 200px;
      min-width: 100%;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      border-top: 1px solid #fff3;

      &.current {
        color: yellowgreen;
      }

      &__name,
      &__hand,
      &__points {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-grow: 1;
        flex-basis: 0;
      }
      &__name {
        justify-content: flex-start;
      }

      .badge {
        min-width: 24px;
        margin-right: 4px;
      }
    }
  }
}
