<div class="viewport">
  <div class="videos" *ngIf="user">
    <div
      class="video-container flex-center"
      [style.min-width]="list.length < 5 ? '50%' : '30%'"
    >
      <div class="video-wrapper flex-center">
        <video
          *ngIf="user.stream"
          [srcObject]="user.stream"
          [class.mirrored]="user.isFrontCamera"
          class="video"
          id="self-video"
          autoplay
          muted
        ></video>

        <app-video-controls
          *ngIf="user.stream"
          [user]="user"
          class="stream-controls"
        ></app-video-controls>

        <div class="video-cover flex-center">
          <div class="user-name">{{ user.name }}</div>
          <div class="video-controls flex-center"></div>
        </div>
      </div>
    </div>

    <ng-container *ngFor="let connection of user.connections">
      <div
        class="video-container flex-center"
        [style.min-width]="user.connections.length < 5 ? '50%' : '30%'"
      >
        <div class="video-wrapper flex-center">
          <div class="video flex-center">
            <video
              *ngIf="connection.stream"
              [srcObject]="connection.stream"
              class="video"
              autoplay
              muted
            ></video>
          </div>
          <div class="video-cover">
            <div class="user-name">
              {{ connection.userName || connection.userId }}
            </div>
            <div class="video-controls flex-center"></div>
            <mat-progress-bar
              *ngIf="
                connection.remote.connectionState != 'connected' &&
                connection.remote.connectionState != 'connecting'
              "
              mode="indeterminate"
              class="progress-bar-inverse"
            ></mat-progress-bar>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <!-- <div class="games">
    <button mat-raised-button (click)="decrement()">remove video -</button>
    <button mat-raised-button (click)="increment()">add video +</button>
    <ng-content></ng-content>
  </div> -->
</div>

<ng-template #videoContainer let-user>
  <div
    class="video-container flex-center"
    [style.min-width]="user.connections.length < 5 ? '50%' : '30%'"
  >
    <div class="video-wrapper flex-center">
      <div class="video flex-center">
        <video></video>
      </div>
      <div class="video-cover">
        <div class="user-name">
          Video
        </div>
        <div class="video-controls flex-center"></div>
        <mat-progress-bar
          mode="indeterminate"
          class="progress-bar-inverse"
        ></mat-progress-bar>
      </div>
    </div>
  </div>
</ng-template>
