<div class="buttons-container">
  <div class="buttons-horizontal">
    <button mat-fab color="accent" (click)="toggleSound()">
      <mat-icon *ngIf="isAudioOn | async">mic</mat-icon>
      <mat-icon *ngIf="!(isAudioOn | async)">mic_off</mat-icon>
    </button>
    <button mat-fab color="accent" (click)="toggleVideo()">
      <mat-icon *ngIf="isVideoOn | async">videocam</mat-icon>
      <mat-icon *ngIf="!(isVideoOn | async)">videocam_off</mat-icon>
    </button>

    <button *ngIf="canFlipCamera" mat-fab color="accent" (click)="flipCamera()">
      <mat-icon>flip_camera_ios</mat-icon>
    </button>
  </div>
</div>
