<div class="room-container">
  <app-room-toolbar
    class="header"
    [user]="user"
    [title]="title$ | async"
    (menuItemClicked)="onMenuItemClicked($event)"
  ></app-room-toolbar>

  <app-videos-list class="viewport" [user]="user">
    <!-- <router-outlet></router-outlet> -->
    <!-- <app-play-cards></app-play-cards> -->
    <!-- <app-message-list
      *ngIf="user"
      [userId]="user.id"
      [roomId]="roomId"
    ></app-message-list> -->
  </app-videos-list>

  <footer class="footer">
    <div></div>
    <app-video-controls
      *ngIf="user && user.stream"
      [user]="user"
      class="stream-controls"
    ></app-video-controls>
    <div>
      <!-- <app-room-controls (menuItemClicked)="onMenuItemClicked($event)">
      </app-room-controls> -->
    </div>
  </footer>
</div>
