.room-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #333;
  color: white;

  .header,
  .main-content,
  .footer {
    width: 100%;
  }

  .header {
    flex-grow: 0;
  }

  .main-content {
    flex: 1 1 auto;
    overflow: auto;
  }

  .footer {
    padding: 10px;
    flex-grow: 0;
    background-color: #222;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
