<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu">
  <mat-icon>more_vert</mat-icon>
</button>

<mat-menu #menu="matMenu">
  <!-- <ng-container *ngIf="!user.connections || !user.connections.length"> -->
  <ng-container>
    <button mat-menu-item color="accent" (click)="call()">
      <mat-icon>phone</mat-icon>
      <span>Подключится</span>
    </button>
    <mat-divider></mat-divider>
  </ng-container>

  <!-- <ng-container *ngIf="user.connections && user.connections.length"> -->
  <ng-container>
    <!-- <button mat-menu-item (click)="retryCall()">
        <mat-icon>swap_calls</mat-icon>
        <span>Переподключить</span>
      </button> -->
    <button mat-menu-item color="warn" (click)="hangup()">
      <mat-icon>call_end</mat-icon>
      <span>Отключить</span>
    </button>
    <mat-divider></mat-divider>
  </ng-container>

  <button *ngIf="canShare" mat-menu-item (click)="shareLink()">
    <mat-icon>share</mat-icon>
    <span>Поделиться ссылкой</span>
  </button>
  <mat-divider></mat-divider>

  <button mat-menu-item (click)="copyLink()">
    <mat-icon>link</mat-icon>
    <span>Скопировать ссылку</span>
  </button>
  <mat-divider></mat-divider>

  <!-- <button mat-menu-item (click)="requestMedia()">
    <mat-icon>perm_camera_mic</mat-icon>
    <span>Включить камеру/микрофон</span>
  </button>
  <mat-divider></mat-divider> -->

  <button mat-menu-item (click)="leaveRoom()">
    <mat-icon color="warn"> power_settings_new</mat-icon>
    <span class="warn-color">Покинуть комнату</span>
  </button>
</mat-menu>
