<mat-nav-list class="user-list wide-list">
  <ng-container *ngFor="let user of users">
    <a mat-list-item class="user-item">
      <app-user [user]="user"></app-user>
      <ng-container *ngIf="canAddToFriends(user.id)">
        <button
          mat-icon-button
          title="Add to friends"
          (click)="addToFriends(user.id)"
        >
          <mat-icon>person_add</mat-icon>
        </button></ng-container
      >
    </a>
    <mat-divider></mat-divider>
  </ng-container>
</mat-nav-list>
