<!-- <app-resizable-panes [autorotate]="true">
  <div top-pane class="videos">
    <ng-container *ngIf="user">
      <app-self-video
        class="video-container video-container-{{ user.connections.length }}"
        [user]="user"
      ></app-self-video>

      <ng-container *ngFor="let connection of user.connections">
        <app-video-item
          class="video-container video-container-{{ user.connections.length }}"
          [connection]="connection"
        ></app-video-item>
      </ng-container>
    </ng-container>
  </div>
  <div bottom-pane class="content">
    <ng-content></ng-content>
  </div>
</app-resizable-panes> -->

<app-flex-grid *ngIf="user">
  <app-self-video grid-item [user]="user"></app-self-video>
  <app-video-item
    grid-item
    *ngFor="let connection of user.connections"
    [connection]="connection"
  ></app-video-item>
</app-flex-grid>
