<app-resizable-panes [autorotate]="true" [state]="viewState">
  <div top-pane class="videos" appOrientation>
    <ng-container *ngIf="user">
      <app-self-video
        class="video-container video-container-{{ connectionCount }}"
        [user]="user"
      ></app-self-video>

      <ng-container *ngFor="let connection of user.connections">
        <app-video-item
          class="video-container video-container-{{ connectionCount }}"
          [connection]="connection"
        ></app-video-item>
      </ng-container>
    </ng-container>
  </div>
  <div bottom-pane class="content">
    <ng-content></ng-content>
  </div>
</app-resizable-panes>
