<div class="users-container" #container>
  <div class="user-details">
    <video
      *ngIf="localStream"
      [srcObject]="localStream"
      autoplay
      controls
      muted
    ></video>
    <p *ngIf="user">{{ user.name || user.id }}</p>
  </div>

  <div *ngFor="let user of connections" class="user-details">
    <video
      *ngIf="user.stream"
      [srcObject]="user.stream"
      autoplay
      controls
      muted
    ></video>
    <p>{{ user.name || user.id }}</p>
  </div>
</div>

<div class="buttons-container">
  <div class="buttons">
    <button mat-fab color="accent" (click)="call()">
      <i class="fa fa-phone"></i>
    </button>
    <button mat-fab color="warn" (click)="hangup()">
      <i class="fa fa-phone fa-phone-hangup"></i>
    </button>
  </div>
</div>
