<ng-container *ngIf="user">
  <mat-card *ngIf="isCardView">
    <mat-card-header>
      <div mat-card-avatar>
        <img *ngIf="user.photoURL" [src]="user.photoURL" class="profile-img" />
        <mat-icon *ngIf="!user.photoURL">camera_alt</mat-icon>
      </div>
      <mat-card-title>{{ user.name || '___' }}</mat-card-title>
      <mat-card-subtitle>
        Created:
        <span *ngIf="user.created">{{ user.created | date: 'medium' }}</span>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <ng-container *ngTemplateOutlet="form"></ng-container>
    </mat-card-content>

    <mat-card-actions>
      <ng-container *ngTemplateOutlet="actions"></ng-container>
    </mat-card-actions>
  </mat-card>

  <div class="panel-view-wrapper" *ngIf="!isCardView">
    <mat-expansion-panel class="panel-view">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="panel-title">
            <div class="panel-avatar">
              <img
                *ngIf="user.photoURL"
                [src]="user.photoURL"
                class="profile-img"
              />
              <mat-icon *ngIf="!user.photoURL">camera_alt</mat-icon>
            </div>
            <div>{{ user.name || '___' }}</div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div>
        <div>
          Created:
          <span *ngIf="user.created">{{ user.created | date: 'medium' }}</span>
        </div>
        <ng-container *ngTemplateOutlet="form"></ng-container>
      </div>

      <mat-action-row>
        <ng-container *ngTemplateOutlet="actions"></ng-container>
      </mat-action-row>
    </mat-expansion-panel>
  </div>

  <ng-template #form>
    <div>
      <mat-form-field>
        <mat-label>Id</mat-label>
        <input matInput disabled [value]="user.id" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Display name</mat-label>
        <input matInput [(ngModel)]="user.name" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Phone number</mat-label>
        <input matInput [(ngModel)]="user.phoneNumber" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="user.email" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Role</mat-label>
        <input matInput [(ngModel)]="user.role" />
      </mat-form-field>
    </div>
    <div class="tokens" *ngIf="user.fcmTokens">
      Tokens: {{ user.fcmTokens | json }}
    </div>
  </ng-template>

  <ng-template #actions>
    <button mat-raised-button color="primary" (click)="save.emit(user)">
      Save
    </button>
    <button mat-raised-button color="warn" (click)="remove.emit(user.id)">
      Delete
    </button>
    <button mat-raised-button (click)="back()">Back</button>
  </ng-template>
</ng-container>
