<div class="hand-controls">
  <ng-container *ngIf="game">
    <ng-container *ngIf="game.state == 'move'">
      <button
        mat-raised-button
        color="accent"
        (click)="move()"
        [disabled]="!canMove"
      >
        <mat-icon>send</mat-icon> Ходить
      </button>
    </ng-container>

    <ng-container *ngIf="game.state == 'beat'">
      <button
        mat-raised-button
        color="accent"
        (click)="beat()"
        [disabled]="!canBeat"
      >
        <mat-icon>verified_user</mat-icon> Отбить
      </button>

      <button
        mat-raised-button
        color="warn"
        (click)="give()"
        [disabled]="!canGive"
      >
        <mat-icon>arrow_upward</mat-icon> Отдать
      </button>
    </ng-container>
  </ng-container>
</div>
