<div class="room-container">
  <app-room-toolbar
    class="header-controls"
    [user]="user"
    (menuItemClicked)="onMenuItemClicked($event)"
  ></app-room-toolbar>

  <app-user-list
    class="online-users"
    [users]="onlineUsers$ | async"
  ></app-user-list>

  <app-videos-list class="viewport" [user]="user"></app-videos-list>

  <div class="videos-contanier" *ngIf="user && false">
    <div class="users-container">
      <div class="user-details">
        <video
          id="self-video"
          class="mirrored"
          *ngIf="user.stream"
          [srcObject]="user.stream"
          autoplay
          muted
        ></video>
        <p>{{ user.name }}</p>

        <div class="buttons-container">
          <div class="buttons-horizontal">
            <button mat-fab color="accent" (click)="toggleSound()">
              <mat-icon *ngIf="isAudioOn | async">mic</mat-icon>
              <mat-icon *ngIf="!(isAudioOn | async)">mic_off</mat-icon>
            </button>
            <button mat-fab color="accent" (click)="toggleVideo()">
              <mat-icon *ngIf="isVideoOn | async">videocam</mat-icon>
              <mat-icon *ngIf="!(isVideoOn | async)">videocam_off</mat-icon>
            </button>

            <button
              *ngIf="canFlipCamera"
              mat-fab
              color="accent"
              (click)="flipCamera()"
            >
              <mat-icon>flip_camera_ios</mat-icon>
            </button>
          </div>
        </div>
      </div>

      <ng-container *ngFor="let connection of user.connections">
        <div class="user-details">
          <mat-progress-bar
            *ngIf="connection.remote.connectionState != 'connected'"
            mode="indeterminate"
            class="progress-bar-inverse"
          ></mat-progress-bar>

          <video
            *ngIf="connection.stream"
            [srcObject]="connection.stream"
            autoplay
            muted
          ></video>

          <p *ngIf="connection.userName">{{ connection.userName }}</p>
          <p>Статус связи: {{ connection.remote.connectionState }}</p>
          <!-- <p>Статус сигнала: {{ connection.remote.signalingState }}</p> -->
        </div>
      </ng-container>
    </div>
  </div>
</div>
