<div class="room-container">
  <div class="header-controls">
    <button mat-stroked-button color="warn" (click)="leaveRoom()">
      Покинуть комнату
    </button>
  </div>

  <div
    class="online-users"
    *ngIf="user && (!user.connections || !user.connections.length)"
  >
    <h4>Сейчвс в сети:</h4>
    <p *ngFor="let user of onlineUsers$ | async">{{ user.name }}</p>
  </div>

  <div class="videos-contanier" *ngIf="user">
    <div class="users-container">
      <div class="user-details">
        <video
          *ngIf="user.stream"
          [srcObject]="user.stream"
          autoplay
          controls
          muted
        ></video>
        <p>{{ user.name }}</p>

        <div class="buttons-container">
          <div class="buttons">
            <ng-container *ngIf="!user.connections || !user.connections.length">
              <button mat-button color="accent" (click)="call()">
                <i class="fa fa-phone"></i> Подключится
              </button>
            </ng-container>
            <ng-container *ngIf="user.connections && user.connections.length">
              <button mat-button color="accent" (click)="retryCall()">
                <i class="fa fa-refresh"></i> Переподключить
              </button>
              <button mat-button color="warn" (click)="hangup()">
                <i class="fa fa-phone fa-phone-hangup"></i> Отключить
              </button>
            </ng-container>
          </div>
        </div>
      </div>

      <div *ngFor="let connection of user.connections" class="user-details">
        <ng-container>
          <video
            *ngIf="connection.stream"
            [srcObject]="connection.stream"
            autoplay
            controls
            muted
          ></video>
          <p *ngIf="connection.userName">{{ connection.userName }}</p>
          <p>Статус связи: {{ connection.remote.connectionState }}</p>
          <p>Статус сигнала: {{ connection.remote.signalingState }}</p>
        </ng-container>
      </div>
    </div>
  </div>
</div>
