<div class="room-container">
  <app-room-toolbar
    class="header-controls"
    [user]="user"
    (menuItemClicked)="onMenuItemClicked($event)"
  ></app-room-toolbar>

  <app-user-list
    class="online-users"
    [users]="onlineUsers$ | async"
  ></app-user-list>

  <app-videos-list class="viewport" [user]="user">
    <!-- <app-play-cards></app-play-cards> -->

    <div>{{ messaging.message$ | async | json }}</div>

    <div style="padding: 10px;" *ngIf="false">
      <ng-container *ngIf="offers$">
        <div *ngFor="let item of offers$ | async">
          <div>id: {{ item.id }}, from: {{ item.from }}, to: {{ item.to }}</div>
          <div>
            decription:
            <div class="text-wrap">
              {{ item.description | json }}
            </div>
          </div>
          <div>----------------</div>
        </div>
      </ng-container>

      <ng-container *ngIf="answers$">
        <div *ngFor="let item of answers$ | async">
          <div>id: {{ item.id }}, from: {{ item.from }}, to: {{ item.to }}</div>
          <div>
            decription:
            <div class="text-wrap">
              {{ item.description | json }}
            </div>
          </div>
          <div>----------------</div>
        </div>
      </ng-container>
    </div>
    <div style="padding: 0 10px;" *ngIf="user && false">
      Connctions: {{ isConnectionOn | async }}
      <div *ngFor="let item of user.connections">
        <div>userId: {{ item.userId }}</div>
        <div>userName: {{ item.userName }}</div>
        <div>stream:{{ item.stream }}</div>
        <div>connectionState: {{ item.remote.connectionState }}</div>
        <div>signalingState: {{ item.remote.signalingState }}</div>
        <div>----------------</div>
      </div>
    </div>
  </app-videos-list>

  <div class="videos-contanier" *ngIf="user && false">
    <div class="users-container">
      <div class="user-details">
        <video
          id="self-video"
          class="mirrored"
          *ngIf="user.stream"
          [srcObject]="user.stream"
          autoplay
          muted
        ></video>
        <p>{{ user.name }}</p>

        <app-video-controls [user]="user"></app-video-controls>
      </div>

      <ng-container *ngFor="let connection of user.connections">
        <div class="user-details">
          <mat-progress-bar
            *ngIf="connection.remote.connectionState != 'connected'"
            mode="indeterminate"
            class="progress-bar-inverse"
          ></mat-progress-bar>

          <video
            *ngIf="connection.stream"
            [srcObject]="connection.stream"
            autoplay
            muted
          ></video>

          <p *ngIf="connection.userName">{{ connection.userName }}</p>
          <p>Статус связи: {{ connection.remote.connectionState }}</p>
          <!-- <p>Статус сигнала: {{ connection.remote.signalingState }}</p> -->
        </div>
      </ng-container>
    </div>
  </div>
</div>
