.room-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  // background-color: #172e44;
  // color: white;

  .online-users {
    flex-grow: 1;
    background-color: #172e44;
    color: white;
    padding: 10px;
  }

  .videos-contanier {
    flex-grow: 8;
  }

  .users-container {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    .user-details {
      margin: 10px;
    }
  }

  .buttons-container {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    .buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      button {
        margin: 0 10px;
        font-size: 1.5em;
      }
    }
  }
}
