.deck {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  min-width: 120px;

  .cards-count {
    font-size: 1.6em;
    user-select: none;
  }

  .card {
    margin: 10px;
    z-index: 11;
    cursor: pointer;
  }

  .trump {
    left: 40px;
    position: absolute;
    transform: rotateZ(90deg);
  }
}
