<ng-container *ngIf="user">
  <div class="profile-container {{ status$ | async }}">
    <div class="profile-avatar">
      <img *ngIf="user.photoURL" [src]="user.photoURL" class="profile-img" />
      <mat-icon *ngIf="!user.photoURL">perm_identity</mat-icon>
    </div>
    <div class="profile-data">
      <div class="profile-data__primary">
        {{ user.name || user.displayName }}
      </div>
      <div class="profile-data__secondary">{{ status$ | async }}</div>
    </div>
  </div>
</ng-container>
