
<div id="firebaseui-auth-container"></div>
<!-- 
<button
  mat-raised-button
  type="button"
  color="primary"
  (click)="googleSignIn()"
>
  <i class="fa fa-google"></i> Войти через Google
</button>
<button
  mat-raised-button
  type="button"
  color="primary"
  (click)="facebookSignIn()"
>
  <i class="fa fa-facebook"></i> Войти через Facebook
</button>
<button
  mat-raised-button
  type="button"
  color="primary"
  (click)="githubSignIn()"
>
  <i class="fa fa-github"></i> Войти через Github
</button> -->
