@import '../node_modules/@angular/material/theming';

@include mat-core();

$md-green: (
  50: #f3f9e6,
  100: #e1f0c2,
  200: #cde699,
  300: #b8dc70,
  400: #a9d551,
  500: #9acd32,
  600: #92c82d,
  700: #88c126,
  800: #7eba1f,
  900: #6cae13,
  A100: #f1ffe0,
  A200: #d9ffad,
  A400: #c2ff7a,
  A700: #b6ff60,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$custom-theme-primary: mat-palette($mat-deep-purple);
$custom-theme-accent: mat-palette($md-green);
$custom-theme-warn: mat-palette($mat-red);

$custom-theme: mat-dark-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

@include angular-material-theme($custom-theme);

