@import '~firebaseui/dist/firebaseui.css';

/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;

  a {
    color: #1976d2;
    text-decoration: none;
    &:hover {
      color: #6e6e6e;
    }
  }
}

.fill-remaining-space {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.info-message {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
}

.warn-color {
  color: #f44336;
}

.mat-card .mat-card-header-text {
  margin: 0;
}

.mat-toolbar-dark {
  background-color: #222;
  color: white;
}

.wide-list.mat-list-base {
  padding-top: 0px;

  .mat-list-item {
    height: auto;

    .mat-list-item-content {
      width: 100%;
      padding: 12px 16px;
    }
  }
}

.messages-container {
  .mat-chip-list-wrapper {
    margin: 0;
    justify-content: center;
  }
}

.expansion-panel-inverse {
  background-color: #333;
  color: #fff;

  .mat-expansion-panel-header-title {
    color: #fff;
  }
  .mat-expansion-panel-header-description,
  .mat-expansion-indicator:after {
    color: rgba(255, 255, 255, 0.54) !important;
  }

  @media (hover: none) {
    .mat-expansion-panel:not(.mat-expanded)
      :not([aria-disabled='true'])
      .mat-expansion-panel-header:hover {
      background-color: #333 !important;
    }
  }
}

.progress-bar-inverse {
  .mat-progress-bar-buffer::after {
    background-color: rgba(255, 255, 255, 0.8);
  }
  .mat-progress-bar-fill::after {
    background-color: rgba(50, 50, 50, 0.8);
  }
}

@media screen and (orientation: portrait) {
  .viewport .videos:not(.horizontal) .video-container {
    .video {
      max-height: 40vh;
    }

    min-width: 33%;
    &-0,
    &-1 {
      min-width: 100%;
    }
    &-2,
    &-3 {
      min-width: 50%;
    }
  }
}

@media screen and (orientation: landscape) {
  .viewport .videos .video-container {
    .video {
      max-height: 60vh;
    }
    min-width: 0;
  }
}
