<div class="messages-container">
  <div #messages class="messages-list">
    <ng-container
      *ngFor="let message of messages$ | async | sort: 'created':'asc'"
    >
      <app-message
        [message]="message"
        [user]="message.sender"
        class="message-item"
      ></app-message>
    </ng-container>
  </div>

  <form class="form">
    <mat-form-field>
      <mat-label>Message</mat-label>
      <input matInput name="content" autocomplete="off" [(ngModel)]="content" />
    </mat-form-field>
    <button
      mat-icon-button
      type="submit"
      color="primary"
      [disabled]="!content"
      (click)="send()"
    >
      <mat-icon>send</mat-icon>
    </button>
  </form>
</div>
