.messages-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .messages-list {
    overflow: auto;
    flex-grow: 1;

    .message-item {
      border-top: 1px solid #222;
    }
  }

  .form {
    flex-grow: 0;
    width: 100%;
    padding: 10px 10px 0;
    display: flex;
    align-items: baseline;

    .mat-form-field {
      width: 100%;
    }
  }
}
