<div class="buttons-container">
  <button mat-icon-button (click)="toggleBottom()">
    <mat-icon *ngIf="viewState != 'bottom'">sms</mat-icon>
    <mat-icon *ngIf="viewState == 'bottom'">chat</mat-icon>
  </button>

  <ng-container *ngIf="user.stream">
    <button mat-icon-button (click)="toggleSound()">
      <mat-icon *ngIf="isAudioOn$ | async">mic</mat-icon>
      <mat-icon *ngIf="!(isAudioOn$ | async)">mic_off</mat-icon>
    </button>
    <button mat-icon-button (click)="toggleVideo()">
      <mat-icon *ngIf="isVideoOn$ | async">videocam</mat-icon>
      <mat-icon *ngIf="!(isVideoOn$ | async)">videocam_off</mat-icon>
    </button>
    <button *ngIf="canFlipCamera" mat-icon-button (click)="flipCamera()">
      <mat-icon>flip_camera_ios</mat-icon>
    </button>
  </ng-container>

  <ng-container *ngIf="!user.connections.length">
    <button mat-icon-button color="accent" (click)="call()">
      <mat-icon>call</mat-icon>
    </button>
    <!-- <button mat-icon-button color="accent" (click)="call()">
      <mat-icon>video_call</mat-icon>
    </button> -->
  </ng-container>

  <ng-container *ngIf="user.connections.length">
    <button mat-icon-button (click)="toggleMediaType()">
      <mat-icon *ngIf="room.mediaType == 'user'">desktop_windows</mat-icon>
      <mat-icon *ngIf="room.mediaType == 'display'">
        desktop_access_disabled
      </mat-icon>
    </button>
    <button mat-icon-button color="warn" (click)="hangup()">
      <mat-icon>call_end</mat-icon>
    </button>
  </ng-container>
</div>
